@media (max-width: 1250px){
    .container {
      /* grid-template-columns: 1fr; */
    }
    .width-half{
      width:50%;
  
    }
    .height-half{
      height:50vh;
    }
    .nav-query{
      width:100%;
      height:100px;

    }

  }
  
  @media screen and (max-width: 600px){
    .container {
      /* grid-template-columns: 1fr; */
    }
    .width-half{
      width:15%;
  
    }
    .height-half{
      height:15vh;
    }
    .nav-query{
      width:100%;
      height:50px;
      padding:0;
      display:flex;
      justify-content:space-between;

    }
    .home-logo{
      height:7vh;
      width:7.5vh;
    }
  }

  @media screen and (max-width: 360px) {
    /* Styles for screens with a maximum width of 360 pixels */
    .nav-query {
      height: 45px;
      padding: 5px;
    }
    .home-logo {
      height: 5vh;
      width: 5.5vh;
    }
    .nav_h1 {
      font-size: 16px;

    }
    .top-nav{
      font-size:10px;
      margin-top:-0.5rem;
    }
    .nav-main{
      padding:0;
      width:100%;
      

    }
    .nav-main-c{
      padding:10px;
      width:100%;
    
    }
    .nav-title{
      font-size:12px;

    }
    .n{
      font-size:8px;
      width:10px;
    }
    .n-all{
      flex-direction: row;
      gap: 1px 3px;
    }
    .list-n{
      padding:0;
    }
  }