@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}
@layer utilities {
  * {   --tw-clip-polygon: var(--tw-clip-polygon-a), var(--tw-clip-polygon-b), var(--tw-clip-polygon-c), var(--tw-clip-polygon-d);
  --tw-clip-polygon-a: 0 0;
  --tw-clip-polygon-b: 100% 0;
  --tw-clip-polygon-c: 100% 100%;
  --tw-clip-polygon-d: 0 100%;
  }

  .clip.polygon.a-3 {
    --tw-clip-polygon-a: 0 2.25rem;
  }

  .clip.polygon.b-3 {
    --tw-clip-polygon-b: 100% 2.25rem;
  }

  .clip.polygon.c-3 {
    --tw-clip-polygon-c: 100% calc(100% - 2.25rem);
  }

  .clip.polygon.d-3 {
    --tw-clip-polygon-d: 0 calc(100% - 2.25rem);
  }

  .clip.polygon {
    clip-path: polygon(var(--tw-clip-polygon));
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y:visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.image{
  padding: 60px;
  width: 300px;
   /* height:70vh; */
   z-index: 1;
   animation-duration: 3s;
   animation-name: slidein;
   animation-iteration-count: infinite;
   animation-direction: alternate;

}
.home{
  /* z-index: 1; */
  background: linear-gradient(rgba(39, 79, 45, 0.299),rgba(1, 25, 36, 0.5)),url("./images/339492458_179742571115721_1024488669478325209_n.jpeg");
  background-position:center;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-size: 1300px;
  color:#04541b ;
  
  overflow: hidden  
}

.imag{
  animation-duration: 5s;
  animation-name: slid;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}


@keyframes slidein {
  from {
    margin-left: 30%;
  
  }

  to {
    margin-left: 0%;
    width: 80%;
  }
}

@keyframes slid {
  from {
    margin-left: 34%;
   
  }

  to {
    margin-left: 0%;

  }
}
.bar {
  width: 300px;
  border: 1px solid;
  border-radius: 5px;
  position: relative;
}

.progress {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.percent {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
}

.text {
  padding: 3px;
  width: 80%;
}

.one {
  background-color: rgba(255, 0, 0, 0.5);
  width: 25%;
}

.two {
  background-color: rgba(14, 157, 14, 0.5);
  width: 55%;
}

.three {
  background-color: rgba(0, 0, 255, 0.5);
  width: 20%;
}

@media screen and (max-width: 360px) {
  /* Styles for screens with a maximum width of 360 pixels */
 .home{
  background-position:center;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-size: 650px;
  color:#04541b ;
 }
 .height-half{
  height:15vh;
 }
 .width-half{
  width:20%;

 }
 .top-mt{
  margin-top:3.3rem;
  margin-left:-8rem;

 }
 .homie{
  width: 100px;
  height:100px;
 }
 .container{
  flex-direction:column;
 }
 .homequery{
  width: 100%;
  background: #04541b;
  margin-left: 1rem;
margin-right: 3rem;

 }
 .tex{
  font-size: 1rem;
 }
 .btn{
  height: 40px;
  width: 100%;
  font-size: 10px;
  display: flex;
 }
 .my-icon{
  font-size: 10px;
 }
 .textt{
 
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0%;
 }
 .g{
  display: flex;
  margin-top: -2rem;
  width: 100%
 }
}